<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3FOt56joHNryNM2JD5K1P0N1a03AhhQc</string>
	<key>GCM_SENDER_ID</key>
	<string>87735503189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cagatayyildiz.MoneyCatcher</string>
	<key>PROJECT_ID</key>
	<string>money-catcher-37dc0</string>
	<key>STORAGE_BUCKET</key>
	<string>money-catcher-37dc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87735503189:ios:f9ef192ae60abbd4bf47dc</string>
</dict>
</plist>